body {
	font-family: "Roboto Mono", sans-serif;
	background-image: url("https://i.ibb.co/dpZ9Btn/emo-angel.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #FFF;
	height: 100%;
	width: 100%;
}
